# NeonDB
NEON_DB_DATABASE_URL=""

#Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""

#Payment cookie key
COOKIE_ENCRYPTION_KEY=""

#API key for internal communication (Server-to-Server)
INTERNAL_API_SECRET=""

#MercadoPago development credentials, SELLER ACCOUNT CREDENTIALS
MP_ACCESS_TOKEN=""
MP_PUBLIC_KEY=""
MP_WEBHOOK_SECRET=""

NEXT_PUBLIC_APP_URL=""

